{% extends "base.html" %}
{%block head_content%}
<title>Contactos</title>
{%endblock%}

{%block container%}
<div class="clearfix"></div>
<!-- TABS -->
<div class="eskimo-widget-title mt-5 mb-4">
    <h2 class="eskimo-title-with-border"><span>COMEDORES Y MERENDEROS:</span></h2>
</div>
<div id="seps">
    <h5 class="">Subsecretaría de Economía y Políticas Sociales </h5>
    <p class="">
        <b>Dirección:</b> Avenida Juan Manuel Belgrano 550</br>
        <b>Correos:</b> <a href="mailto:sub.economiaypolsoc@chaco.gob.ar">sub.economiaypolsoc@chaco.gob.ar</a>
        </br>
        <a href="mailto:politicasinclusivas@chaco.gob.ar">politicasinclusivas@chaco.gob.ar</a>
        </br>
        <b>Celular:</b> 362 4024802</br>
        <li><b>Área Social:</b> 362 4337760</li></br>
        <li><b>Módulos alimentarios:</b> 362 4665789/ 362 4337878</li></br>
        <li><b>Merenderos:</b> 362 4247361 / 362 4905282</li></br>
        <b>Correos área merenderos:</b> <a
            href="mailto:nathaliapasmanter@chaco.gob.ar">nathaliapasmanter@chaco.gob.ar</a>
        <br />
        <a href="mailto:politicasinclusivas@chaco.gob.ar">politicasinclusivas@chaco.gob.ar</a>
        <br />
        <b>Facebook/Instagram:</b> @juventudeschaco
    </p>
</div>

<div id="upsn">
    <h5 class="">Unidad Provincial de Seguimiento
        Nutricional</h5>
    <p class="">
        <b>Dirección:</b> Posadas 725</br>
        <b>Teléfono:</b> 3624873827</br>
        <b>Correo:</b> <a href="mailto:upsn.chaco@chaco.gov.ar">upsn.chaco@chaco.gov.ar</a>
        </br>
    </p>
</div>

<div class="eskimo-widget-title mt-5 mb-4">
    <h2 class="eskimo-title-with-border"><span>CUIDADORES DOMICILIARIOS:</span></h2>
</div>

<div id="spam">
    <h5 class="">Subsecretaría de Personas Adultas Mayores</h5>
    <p class="">
        <b>Dirección:</b> Julio A. Roca 880</br>
        <b>Teléfono:</b> 3625191003</br>
        <b>Correo:</b> <a href="mailto:sub.personasadultas@chaco.gob.ar">sub.personasadultas@chaco.gob.ar</a>
        </br></p>
</div>

<div class="eskimo-widget-title mt-5 mb-4">
    <h2 class="eskimo-title-with-border"><span>VOLUNTARIADO SOCIAL:</span></h2>
</div>

<div id="sjd">
    <h5 class="">Subsecretaría de Juventudes y Diversidades</h5>
    <p class=""><b>Dirección:</b> Salta 63</br>
        <b>Celular:</b> 3624658825 <br />
        <b>Teléfono:</b> 3624453188 <br />
        <b>Correo:</b> <a target="_blank" href="mailto:sub.juventud@chaco.gov.ar">sub.juventud@chaco.gov.ar</a>
        </br>
        <b>Facebook/Instagram:</b> @juventudeschaco</p>
</div>
<div id="spc">
    <h5>Subsecretaría de Participación Ciudadana </h5>
    <p><b>Dirección:</b> Formosa 634 <br />
        <b>Celular:</b> 3625270273<br />
        <b>Teléfono:</b> 3624762741<br />

        <b>Correo:</b> <a href="mailto:sub.participacion@chaco.gob.ar">sub.participacion@chaco.gob.ar</a>
        </br>
        <b>Facebook:</b> Subsecretaría de Participación Ciudadana</br>
        <b>Instagram :</b> @participacion_ciudadana2020
    </p>
</div>
<div id="mds">
    <div class="eskimo-widget-title mt-5 mb-4">
        <h2 class="eskimo-title-with-border"><span>MINISTERIO DE DESARROLLO SOCIAL DE LA PROVINCIA DEL
                CHACO</span></h2>
    </div>

    <p><b>Dirección:</b> Avenida 25 de Mayo 855</br>
        <b>Líneas rotativas:</b> (0362)4452620 / 4452621 / 4433005 / 4452986 / 4437456 /
        4428319</br>
        <b>Correo:</b> <a target="_blank" href="mailto:desarrollosocial@chaco.gob.ar">desarrollosocial@chaco.gob.ar</a>
        </br>
    </p>
</div>


<hr />
{%endblock%}
<!-- </div>
</main> -->
{%block footer%}
<!-- FOOTER -->
<footer id="eskimo-footer" class="bg-dark text-white">
    <div class="container">
        {% load static %}
        <div class="row eskimo-footer-wrapper">
            <div class="row">

                <div class="col-sm-4">
                    <div class="card bg-dark text-white">
                        <img class="card-img-top" src="{% static 'images/MDS.png' %}" alt="Card image cap">


                    </div>
                </div>


            </div>

        </div>
    </div>
</footer>
{%endblock%}