{% extends "base.html" %}
{%block head_content%}
<title>Comedores y Merenderos</title>
{%endblock%}

{%block container%}
<div class="clearfix"></div>
<!-- TABS -->
<h2 class="mt-5">COMEDORES Y MERENDEROS</h2>
<p>
    Este registro nos permite contar con información precisa acerca de cada uno de los comedores y merenderos que distintas organizaciones de la sociedad civil llevan adelante en los barrios populares de toda la provincia del Chaco brindando asistencia alimentaria de forma gratuita a personas en situación de vulnerabilidad social.
</p>
<p>
    Ser parte del mismo permite garantizar con mayor eficiencia la seguridad alimentaria en cada punto del territorio provincial, y que cada organización de la sociedad civil, pueda hacer llegar un plato de comida a cada chaqueña y chaqueño.
</p>
<p>
    Al registro puede inscribirse toda aquella persona responsable y/o referente de un comedor o merendero que brinde asistencia alimentaria gratuita. 
</p>
<!-- ACCORDION -->
<div id="mp-accordion-1" data-children=".mp-accordion-item" class="mp-accordion">
    <div class="mp-accordion-item">
        <a class="mp-accordion-title" data-toggle="collapse" data-parent="#mp-accordion-1" href="#mp-accordion-item-1"
            aria-expanded="false" aria-controls="mp-accordion-item-1">¿Qué entendemos por Comedor comunitario? </a>
        <div id="mp-accordion-item-1" class="collapse show" role="tabpanel">
            <div class="mp-accordion-content">
                <p>
                    Es todo aquel espacio físico que brinda asistencia alimentaria gratuita a personas en situación de vulnerabilidad social al menos 3 días a la semana, elaborando alimentos y sirviendo una comida principal (almuerzo y/o cena), complementada o no con desayuno y/o merienda; sin perjuicio de la modalidad de entrega de viandas.
                </p>
            </div>
        </div>
    </div>

    <div class="mp-accordion-item">
        <a class="mp-accordion-title" data-toggle="collapse" data-parent="#mp-accordion-1" href="#mp-accordion-item-2"
            aria-expanded="false" aria-controls="mp-accordion-item-2">¿Qué entendemos por Comedor comunitario? </a>
        <div id="mp-accordion-item-2" class="collapse show" role="tabpanel">
            <div class="mp-accordion-content">
                <p>
                    Es todo aquel espacio físico que brinda asistencia alimentaria gratuita a personas en situación de vulnerabilidad social, elaborando alimentos y sirviendo principalmente desayuno y/o merienda; sin perjuicio de la modalidad de entrega de viandas.
                </p>
            </div>
        </div>
    </div>

    
    <!-- ACCORDION ITEM 1 -->
    <div class="mp-accordion-item">
        <a class="mp-accordion-title" data-toggle="collapse" data-parent="#mp-accordion-2" href="#mp-accordion-item-3"
            aria-expanded="false" aria-controls="mp-accordion-item-3">¿A qué
            apunta el registro a Comedores y Merenderos comunitarios?</a>
        <div id="mp-accordion-item-3" class="collapse show" role="tabpanel">
            <div class="mp-accordion-content">
                <li>A construir información confiable para la implementación de políticas públicas, que puedan garantizar la Seguridad y Soberanía alimentaria de la población chaqueña, principalmente en relación las personas en situación de vulnerabilidad que asistan a estos dispositivos comunitarios.</li>

                <li>Capacitar de forma gratuita y periódica al personal responsable del comedor y/o merendero comunitario, brindándole asesoramiento técnico y nutricional.</li>

                <li>Acompañar la labor social y humanitaria, fortalecer las iniciativas comunitarias de los dispositivos consolidados en el territorio, y reconocer el impacto socio-económico de las trabajadoras y trabajadores de la Economía del Cuidado.</li>
            </div>
        </div>
    </div>
    <!-- ACCORDION ITEM 2 -->
    <div class="mp-accordion-item">
        <a class="mp-accordion-title " data-toggle="collapse" data-parent="#mp-accordion-3"
            href="#mp-accordion-item-4" aria-expanded="false" aria-controls="mp-accordion-item-4">¿Quiénes pueden
            registrarse? </a>
        <div id="mp-accordion-item-4" class="collapse show" role="tabpanel">
            <div class="mp-accordion-content">
                Todas aquellas organizaciones sociales o miembros activos de la comunidad que brinden servicio de comedores y/o merenderos comunitarios en diferentes barrios o localidades al menos tres veces por semana, que beneficien como mínimo a veinticinco (25) personas y que su trayectoria sea mayor a tres meses de asistencia a la comunidad, comprobable.
            </div>
        </div>
    </div>
    <!-- ACCORDION ITEM 3 -->
    <div class="mp-accordion-item">
        <a class="mp-accordion-title  " data-toggle="collapse" data-parent="#mp-accordion-4"
            href="#mp-accordion-item-5" aria-expanded="false" aria-controls="mp-accordion-item-5">¿En qué consiste?</a>
        <div id="mp-accordion-item-5" class="collapse show" role="tabpanel">
            <div class="mp-accordion-content">
                <p>El trámite de inscripción consta de tres etapas:</p>
                <ol>
                    <li>Primera etapa de preinscripción: el trámite debe iniciarlo la persona responsable del Comedor o Merendero Comunitario a través del formulario, el cual deberá proveer de la información solicitada a manera de declaración jurada.</li>
                    <li>
                        La segunda etapa es de convalidación: el formulario será remitido al área correspondiente del Programa Provincial de Seguridad Alimentaria del Ministerio de Desarrollo Social quien llevará adelante las acciones necesarias para la verificación en el territorio de los datos informados. El proceso de verificación concluye tras la emisión de una Constancia de Relevamiento, a cargo de un profesional habilitado por el Ministerio.
                    </li>
                    <li>
                        La tercera etapa de inscripción definitiva en el Registro: cuando el trámite esté aprobado, mediante la verificación de la información en terreno, el Ministerio informará al Comedor o Merendero Comunitario su efectiva inscripción al Registro Provincial.
                    </li>
                </ol>
            </div>
        </div>
    </div>

</div>
<p>A partir de la inscripción en este registro, el comedor o merendero comunitario deberá permitir visitas del personal habilitado por la Subsecretaría de Economía y Políticas Sociales del Ministerio de Desarrollo Social, y presentar toda la documentación que le sea requerida. Se realizarán verificaciones anualmente para posibilitar la renovación de cada inscripción.</p>
<!-- DIVIDER -->
<hr />
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Vigencia</h4>
    <p>El registro es totalmente gratuito y tendrá vigencia de un año, una vez realizada la
        inscripción.</p>
    <!-- <hr> -->
</div>
<!-- DIVIDER -->
<hr />
<div class="card text-center mt-5">
    <div class="card-header">
        <h3>REGISTRO</h3>
    </div>
    <div class="card-body">
        <h5 class="card-title">Formulario de registro para comedores y merenderos comunitarios</h5>
        <p class="card-text">INGRESÁ AL SIGUIENTE LINK PARA REGISTRARTE</p>
        <a href="{%url "formcomedores"%}" class="btn btn-primary mt-3">Ir al Formulario</a>
    </div>
    <div class="card-footer text-muted"></div>
</div>
<!-- <hr />
<div class="eskimo-widget-title mt-5">
    <h3 class="eskimo-title-with-border"><span>DOCUMENTOS:</span></h3>
</div>
<div id="seccion-descargas" class="col-8 col-lg-8 mb-6 mb-lg-0 list-group">
    <p>Para contar con información nutricional y cuidados básicos de higiene y seguridad en comedores y
        merenderos podes descargar los siguientes archivos (archivos enviados por Unidad nutricional):
    </p>

    <a href="#" class="list-group-item list-group-item-action">nombre-documento</a>
    <a href="#" class="list-group-item list-group-item-action">nombre-documento</a>
    <a href="#" class="list-group-item list-group-item-action">nombre-documento</a>
    <a href="#" class="list-group-item list-group-item-action">nombre-documento</a>
</div> -->


{%endblock%}

{%block footer%}
<!-- FOOTER -->
<footer id="eskimo-footer" class="bg-dark text-white">
    <div class="container">
        {% load static %}
        <div class="row eskimo-footer-wrapper">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card bg-dark text-white">
                        <img class="card-img-top" src="{% static 'images/EPS.png' %}" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">
                                <a href="{% url "contactos" %}">Información de contacto</a>
                            </p>
                            

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card bg-dark text-white">
                        <img class="card-img-top" src="{% static 'images/UPSN.png' %}" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">
                                <a href="{% url "contactos" %}">Información de contacto</a>
                            </p>
                           

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card bg-dark text-white">
                        <img class="card-img-top" src="{% static 'images/MDS.png' %}" alt="Card image cap">

                        <div class="card-body bg-dark text-white">
                            <p class="card-text">
                                <a href="{% url "contactos" %}">Información de contacto</a>

                            </p>
                            
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
</footer>
{%endblock%}