{% extends "base.html" %}
{%block head_content%}
<title>Cuidadores Domiciliarios</title>
{%endblock%}

{%block container%}
{%load static%}
<div class="clearfix"></div>
<!-- TABS -->
<h2 class="mt-5">CUIDADORES DOMICILIARIOS</h2>
<p>El cuidador o cuidadora domiciliario es aquella persona que provee de cuidados progresivos y específicos para la satisfacción de las necesidades diarias de otra persona, ya sea que se desempeñan en domicilios particulares o instituciones públicas y privadas, que reciben o no una remuneración a cambio de sus cuidados. </p>
<p>Desde el Ministerio de Desarrollo Social, propiciamos el reconocimiento de las cuidadoras y los cuidadores domiciliarios como trabajadores o trabajadoras de la Economía del Cuidado, contribuyendo a instalar al “cuidado” como un problema de política pública, desterrándolo del ámbito de lo privado.</p>
<p>
    Más allá de los orígenes conceptuales de lo que denominamos “Economía del Cuidado”, nos referimos con ello a todas las actividades y prácticas necesarias para la supervivencia cotidiana de las personas, y de aquellas que requieren ayuda para la satisfacción de sus necesidades básicas.
</p>
<p>
    El Registro de Cuidadores Domiciliarios busca visibilizar, optimizar la relación dinámica entre oferente y demandante, formalizar, calificar, normatizar, generar políticas públicas para profesionalizar la tarea del cuidado, y en la cual existe un alto índice de informalidad laboral.
</p>
<!-- ACCORDION -->
<div id="mp-accordion-1" data-children=".mp-accordion-item" class="mp-accordion">
    <!-- ACCORDION ITEM 1 -->
    <div class="mp-accordion-item">
        <a class="mp-accordion-title" data-toggle="collapse" data-parent="#mp-accordion-1" href="#mp-accordion-item-1"
            aria-expanded="false" aria-controls="mp-accordion-item-1">Si soy cuidadora o cuidador domiciliario de Personas adultas mayores ¿Por qué debo registrarme? </a>
        <div id="mp-accordion-item-1" class="collapse show" role="tabpanel">
            <div class="mp-accordion-content">
                <p>El Registro Provincial de Cuidadores Domiciliarios busca reunir información sobre aquellas personas que ofrecen sus servicios especializados en el cuidado y asistencia de personas adultas mayores y verificar que los mismos hayan recibido la debida formación y actualización teórica necesaria para ejercer esa función.</p>
                <p>La inscripción se enmarcada en la Ley provincial 2490-G la cual establece y regula el “Régimen de Cuidadores Domiciliarios y/o Polivalentes” y busca lograr la profesionalización y jerarquización de este sector, como así también brindar información de interés en la temática, y ofrecer programas de capacitación.</p>

            </div>
        </div>
    </div>
    <!-- ACCORDION ITEM 2 -->
    <div class="mp-accordion-item">
        <a class="mp-accordion-title" data-toggle="collapse" data-parent="#mp-accordion-1"
            href="#mp-accordion-item-2" aria-expanded="false" aria-controls="mp-accordion-item-2">¿A quién está dirigido? </a>
        <div id="mp-accordion-item-2" class="collapse show" role="tabpanel">
            <div class="mp-accordion-content">
                <p>A aquellas personas que realizan cuidados domiciliarios a personas adultas mayores con dependencia y que desean registrarse para la formalización de su trabajo. </p>
            </div>
        </div>
    </div>
    <!-- ACCORDION ITEM 3 -->
    <div class="mp-accordion-item">
        <a class="mp-accordion-title" data-toggle="collapse" data-parent="#mp-accordion-1"
            href="#mp-accordion-item-3" aria-expanded="false" aria-controls="mp-accordion-item-3">¿Cuáles son los
            requisitos?</a>
        <div id="mp-accordion-item-3" class="collapse show" role="tabpanel">
            <div class="mp-accordion-content">
                <li>Ser mayor de dieciocho (18) años.</li>
                <li>Contar con la documentación que se solicita. </li>
            </div>
        </div>
    </div>

    <div class="mp-accordion-item">
        <a class="mp-accordion-title " data-toggle="collapse" data-parent="#mp-accordion-1"
            href="#mp-accordion-item-4" aria-expanded="false" aria-controls="mp-accordion-item-4">¿En qué consiste?</a>
        <div id="mp-accordion-item-4" class="collapse show" role="tabpanel">
            <div class="mp-accordion-content">
                <ol>
                    <li>
                        Primera etapa de preinscripción: el trámite debe iniciarse a través del formulario, donde la persona deberá proveer la información solicitada a manera de declaración jurada.</li>
                    <li>
                        La segunda etapa es de convalidación: el formulario será remitido al área correspondiente de la Subsecretaría de Personas Adultas Mayores, donde se llevará adelante las acciones necesarias para la validación de la pre-inscripción.
                    </li>

                    <li>
                        La tercera etapa de inscripción definitiva en el Registro: cuando el trámite esté aprobado, mediante la validación de la información de capacitación y certificación, la Subsecretaría de Personas Adultas Mayores informará al interesado su efectiva inscripción al Registro Provincial.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- DIVIDER -->
<!-- <hr /> -->
<div class="alert alert-success mt-4" role="alert">
    <h4 class="alert-heading">El registro es totalmente gratuito.</h4>
     <p>La Subsecretaria de Personas Adultas Mayores, será la dependencia que tendrá a su cargo el funcionamiento del Registro Provincial de Cuidadores Domiciliarios y/o Polivalentes. A tal fin, se establecerán las bases y condiciones que deben reunir los postulantes para validar su pre-inscripción y, posteriormente, dicha inscripción, que estará sujeta a la aprobación por la autoridad de aplicación, la cual deberá corroborar la validez de la capacitación o certificación y ratificar que el perfil del egresado se ajuste a las especificidades de un Cuidador Domiciliario.</p> 
</div>
<!-- <p class="h2 mt-5"></p> -->
<!-- DIVIDER -->
<hr />
<div class="card text-center mt-5">
    <div class="card-header">
        <h3>REGISTRO</h3>
    </div>
    <div class="card-body">
        <h5 class="card-title">Formulario de Registro para Cuidadores Domiciliarios</h5>
        <p class="card-text">INGRESÁ AL SIGUIENTE LINK PARA REGISTRARTE</p>
        <a href="{%url "formcuidadores"%}" class="btn btn-primary mt-3">Ir al Formulario</a>
    </div>
    <div class="card-footer text-muted"></div>
</div>
<!-- <hr /> -->
{%endblock%}
{%block footer%}
{%load static%}
<!-- FOOTER -->
<footer id="eskimo-footer" class="bg-dark text-white">
    <div class="container">
        <div class="row eskimo-footer-wrapper">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card bg-dark text-white">
                        <img class="card-img-top" src="{% static 'images/PAM.png' %}" alt="Card image cap">

                        <div class="card-body bg-dark text-white">
                            <p class="card-text">
                                <a href="{% url "contactos" %}">Información de contacto</a>

                            </p>

                            <!-- <h5 class="card-title text-white">Subsecretaría de Personas Adultos Mayores</h5>
                                    <p class="card-text">Dirección: Julio A. Roca 880</br>
                                        Teléfono: 3625191003</br>
                                        Correo: <a target="_blank"
                                            href="mailto:sub.personasadultas@chaco.gob.ar">sub.personasadultas@chaco.gob.ar</a>
                                        </br></p> -->

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card bg-dark text-white">
                        <img class="card-img-top" src="{% static 'images/MDS.png' %}" alt="Card image cap">

                        <div class="card-body bg-dark text-white">
                            <p class="card-text">
                                <a href="{% url "contactos" %}">Información de contacto</a>

                            </p>
                            <!-- <h5 class="card-title text-white">Ministerio de Desarrollo Social de
                                        la Provincia del
                                        Chaco</h5>
                                    <p class="card-text">Dirección: Avenida 25 de Mayo 855</br>
                                        Líneas rotativas: (0362)4452620 / 4452621 / 4433005 / 4452986 / 4437456 /
                                        4428319</br>
                                        Correo: <a target="_blank"
                                            href="mailto:desarrollosocial@chaco.gob.ar">desarrollosocial@chaco.gob.ar</a>
                                        </br>
                                    </p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{%endblock%}