{% extends "base.html" %}
{%block head_content%}
<title>Cuidadores Domiciliarios</title>
{%endblock%}

{%block container%}
{%load static%}
<div class="clearfix"></div>
<!-- TABS -->
<h2 class="mt-5">CUIDADORES DOMICILIARIOS</h2>
<!-- ACCORDION -->
<div id="mp-accordion-1" data-children=".mp-accordion-item" class="mp-accordion">
    <!-- ACCORDION ITEM 1 -->
    <div class="mp-accordion-item">
        <a class="mp-accordion-title" data-toggle="collapse" data-parent="#mp-accordion-1" href="#mp-accordion-item-1"
            aria-expanded="false" aria-controls="mp-accordion-item-1"></a>
        <div id="mp-accordion-item-1" class="collapse show" role="tabpanel">
            <div class="mp-accordion-content">
                El cuidador domiciliario es aquel que provee cuidados específicos para satisfacer las
                necesidades diarias de otra persona, quien se desempeña en domicilios particulares.

            </div>
        </div>
    </div>
    <!-- ACCORDION ITEM 2 -->
    <div class="mp-accordion-item">
        <a class="mp-accordion-title collapsed" data-toggle="collapse" data-parent="#mp-accordion-1"
            href="#mp-accordion-item-2" aria-expanded="false" aria-controls="mp-accordion-item-2">¿Por
            qué debo registrarme? </a>
        <div id="mp-accordion-item-2" class="collapse" role="tabpanel">
            <div class="mp-accordion-content">
                El objetivo principal del Registro Provincial de Cuidadores Domiciliarios será reunir
                información actualizada sobre aquellas personas que ofrecen sus servicios especializados
                en el rubro y verificar que los mismos hayan recibido la debida formación y
                actualización teórica necesaria para ejercer esa función.
                Esta función está enmarcada en la Ley 2490-G la cual establece y regula el “Régimen de
                <br /><br />
                Cuidadores Domiciliarios y/o Polivalentes” y busca lograr la profesionalización y
                jerarquización de este sector, como así también brindar información y programas de
                capacitación para quienes estén incluidos en el mismo.

            </div>
        </div>
    </div>
    <!-- ACCORDION ITEM 3 -->
    <div class="mp-accordion-item">
        <a class="mp-accordion-title collapsed" data-toggle="collapse" data-parent="#mp-accordion-1"
            href="#mp-accordion-item-3" aria-expanded="false" aria-controls="mp-accordion-item-3">¿Cuáles son los
            requisitos?</a>
        <div id="mp-accordion-item-3" class="collapse" role="tabpanel">
            <div class="mp-accordion-content">
                <li>Ser mayor de dieciocho (18) años.</li>
                <li>Trabajar en el sector de economía del cuidado o cuidadores domiciliarios.</li>
                <li>Informar los datos personales de carácter obligatorio que se requieren en el
                    formulario
                    de inscripción y adjuntar los archivos que se solicite.
                </li>
            </div>
        </div>
    </div>

</div>
<!-- DIVIDER -->
<!-- <hr /> -->
<div class="alert alert-success mt-4" role="alert">
    <h4 class="alert-heading">El registro es totalmente gratuito. </h4>
    <!-- <p>El registro es totalmente gratuito y tendrá vigencia de un año, una vez realizada la
                        inscripción.</p> -->
    <!-- <hr> -->
    <!-- <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p> -->
</div>
<!-- <p class="h2 mt-5"></p> -->
<!-- DIVIDER -->
<hr />
<div class="card text-center mt-5">
    <div class="card-header">
        <h3>REGISTRO</h3>
    </div>
    <div class="card-body">
        <h5 class="card-title">Formulario de Registro para Cuidadores Domiciliarios</h5>
        <p class="card-text">INGRESÁ AL SIGUIENTE LINK PARA REGISTRARTE</p>
        <a href="{%url "formcuidadores"%}" class="btn btn-primary mt-3">Ir al Formulario</a>
    </div>
    <div class="card-footer text-muted"></div>
</div>
<!-- <hr /> -->
{%endblock%}
{%block footer%}
{%load static%}
<!-- FOOTER -->
<footer id="eskimo-footer" class="bg-dark text-white">
    <div class="container">
        <div class="row eskimo-footer-wrapper">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card bg-dark text-white">
                        <img class="card-img-top" src="{% static 'images/PAM.png' %}" alt="Card image cap">

                        <div class="card-body bg-dark text-white">
                            <p class="card-text">
                                <a href="{% url "contactos" %}">Información de contacto</a>

                            </p>

                            <!-- <h5 class="card-title text-white">Subsecretaría de Personas Adultos Mayores</h5>
                                    <p class="card-text">Dirección: Julio A. Roca 880</br>
                                        Teléfono: 3625191003</br>
                                        Correo: <a target="_blank"
                                            href="mailto:sub.personasadultas@chaco.gob.ar">sub.personasadultas@chaco.gob.ar</a>
                                        </br></p> -->

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card bg-dark text-white">
                        <img class="card-img-top" src="{% static 'images/MDS.png' %}" alt="Card image cap">

                        <div class="card-body bg-dark text-white">
                            <p class="card-text">
                                <a href="{% url "contactos" %}">Información de contacto</a>

                            </p>
                            <!-- <h5 class="card-title text-white">Ministerio de Desarrollo Social de
                                        la Provincia del
                                        Chaco</h5>
                                    <p class="card-text">Dirección: Avenida 25 de Mayo 855</br>
                                        Líneas rotativas: (0362)4452620 / 4452621 / 4433005 / 4452986 / 4437456 /
                                        4428319</br>
                                        Correo: <a target="_blank"
                                            href="mailto:desarrollosocial@chaco.gob.ar">desarrollosocial@chaco.gob.ar</a>
                                        </br>
                                    </p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{%endblock%}