{% extends "base.html" %}
{%block head_content%}
<title>Mapa de Comedores y Merenderos</title>
{%endblock%}


{%block container%}

<!-- MAPS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

<style type="text/css">
    #mapa-general {
        height: 600px;
    }
</style>

<div class="clearfix"></div>
<!-- TABS -->
<div class="eskimo-widget-title mt-5 mb-4">
    <h2 class="eskimo-title-with-border"><span>MAPA DE COMEDORES Y MERENDEROS:</span></h2>
</div>
<div id="mapa-general">


</div>

<hr />
{%endblock%}
<!-- </div>
</main> -->
{%block footer%}
<!-- FOOTER -->
<footer id="eskimo-footer" class="bg-dark text-white">
    <div class="container">
        {% load static %}
        <div class="row eskimo-footer-wrapper">
            <div class="row">

                <div class="col-sm-4">
                    <div class="card bg-dark text-white">
                        <img class="card-img-top" src="{% static 'images/MDS.png' %}" alt="Card image cap">


                    </div>
                </div>


            </div>

        </div>
    </div>
</footer>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

<script src="{% static 'js/mapa-general.js'%}"></script>
{%endblock%}