<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>Formulario para el registro de Voluntarios Sociales</title>
  <!-- META TAGS -->
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <!-- CSS FILES -->
  {% load static %}

  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/bootstrap-toggle.min.css' %}" rel="stylesheet" type="text/css">

  <link href="{% static 'css/fontawesome.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/slick.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/styleCustom.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">

</head>

<body>
  <!-- READING POSITION INDICATOR -->
  <progress value="0" id="eskimo-progress-bar">
    <span class="eskimo-progress-container">
      <span class="eskimo-progress-bar"></span>
    </span>
  </progress>
  <!-- SITE WRAPPER -->
  <div id="eskimo-site-wrapper">
    <!-- MAIN CONTAINER -->
    <main id="eskimo-main-container">
      <!-- NAVBAR HORIZONTAL -->
      <!-- <ul class="nav justify-content-center"> -->
      <nav class="navbar navbar-custom navbar-expand-lg navbar-light bg-light">
        <!-- <nav class="navbar navbar-light navbar-expand-md"> -->
        <div class="container">
          <a class="eskimo-logo-link col-3" href="#">
            <img src="{% static 'images/logo_gobierno2020.png'%}" class="eskimo-logo" alt="eskimo" />
          </a>
          <!-- <a class="navbar-brand" href="#">LOGO</a> -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link text-light" href="#">INICIO <span class="sr-only">(current)</span></a>
              </li>
              <!-- <li class="nav-item">
                                  <a class="nav-link" href="#">Link</a>
                              </li> -->
              <li class="nav-item dropdown ">
                <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  REGISTRAR
                </a>
                <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item text-white  bg-primary" href="{% url "infocomedores" %}">Comedores y
                    Merenderos</a>
                  <a class="dropdown-item text-white  bg-primary" href="{% url "infocuidadores" %}">Cuidadores
                    Domiciliarios</a>
                  <a class="dropdown-item text-white  bg-primary" href="{% url "infovoluntarios" %}">Voluntarios
                    Sociales</a>

                </div>
              </li>
              <li class="nav-item active">
                <a class="nav-link text-white" href="#">MAPA <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link text-white" href="#">INFORMACIÓN<span class="sr-only">(current)</span></a>
              </li>
              <!-- <li class="nav-item">
                                  <a class="nav-link disabled" href="#">Disabled</a>
                              </li> -->
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
                              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                          </form> -->
          </div>
        </div>
      </nav>
      </ul>
      <!-- FIN NAVBAR HORIZONTAL -->
      <div class="container">


        <!-- TOP ICONS -->

        <div class="clearfix"></div>

        <!-- DIVIDER -->
        <!-- <hr class="section-divider" /> -->
        <hr />
        <!-- CAROUSEL -->
        <div class="eskimo-widget-title">
          <!-- <h3 class="eskimo-carousel-title"><span>REGISTRAR:</span></h3> -->
          <h3 class="eskimo-title-with-border"><span>Formulario para el registro de Voluntarios Sociales</span></h3>
          <h5>(Todos los campos son obligatorios)</h5>
        </div>

        <form action="{% url 'formvoluntarios' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          {% if form.errors %}
          <p>{{ form.errors }}</p>
          {% endif %}
          <hr />
          <div class="eskimo-widget-title mt-5 mb-4">
            <h5 class="eskimo-title-with-border"><span>Datos Personales:</span></h5">
          </div>
          <div class="form-group row">
            <label for="inputNombre" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="inputNombre" name="nombre" placeholder="Nombre" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputApellido" class="col-sm-2 col-form-label">Apellido</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="inputApellido" name="apellido" placeholder="Apellido"
                required>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputDni" class="col-sm-2 col-form-label">Dni</label>
            <div class="col-sm-6">
              <input type="number" class="form-control" id="inputDni" name="dni" placeholder="Dni" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputCuil" class="col-sm-2 col-form-label">Cuil</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="cuil" placeholder="000000000000" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputLugar" class="col-sm-2 col-form-label">Lugar y Fecha de Nacimiento</label>

            <div class="col-sm-3">
              <input type="text" class="form-control" id="inputLugar" name="lugarNac" placeholder="Lugar" required>
            </div>
            <div class="col-3">
              <input class="form-control" type="date" value="1980-01-19" name="fechaNac" id="input-date-input">
            </div>
          </div>


          <div class="form-group row">
            <label for="selGenero" class="col-sm-2 col-form-label">Género</label>
            <div class="col-sm-6">
              <select class="form-control" id="selGenero" name="genero">
                <option value="seleccionar" selected>Seleccionar</option>
                <option value="masc">Masculino</option>
                <option value="fem">Femenino</option>
                <option value="nobinario">No binario</option>
                <option value="otro">Otro</option>
              </select>
            </div>
          </div>

          <p>Domicilio legal:</p>

          <div class="form-group row">
            <label for="inputDireccion" class="col-sm-2 col-form-label">Dirección</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="inputDireccion" name="direccion" placeholder="Dirección"
                required>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputBarrio" class="col-sm-2 col-form-label">Barrio</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="inputBarrio" name="barrio" placeholder="Barrio" required>
            </div>
          </div>

          <div class="form-group row">
            <label for="selLocalidades" class="col-sm-2 col-form-label">Localidad</label>
            <div class="col-sm-6">
              <select class="form-control" id="selLocalidades" name="localidad"></select>
            </div>
          </div>
          <div class="form-group row">
            <label for="selProvincias" class="col-sm-2 col-form-label">Provincia</label>
            <div class="col-sm-6">
              <select class="form-control" id="selProvincias" name="provincia"></select>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputCelular" class="col-sm-2 col-form-label">Celular</label>
            <div class="col-sm-6">
              <input type="number" class="form-control" id="inputCelular" name="celular" placeholder="Celular" required>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-6">
              <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email" required>
            </div>
          </div>

          <div class="eskimo-widget-title mt-5 mb-4">
            <h5 class="eskimo-title-with-border"><span>Datos de Formación</span></h5">
          </div>

          <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label ">¿Sos estudiante?</label>
            <div class="form-check m-2">
              <input class="rdEstudiante form-check-input" type="radio" name="rdEstudiante" id="rdEstudiante1"
                value="si">
              <label class="form-check-label" for="rdEstudiante1">
                SI
              </label>
            </div>
            <div class="form-check m-2">
              <input class="rdEstudiante form-check-input" type="radio" name="rdEstudiante" id="rdEstudiante2"
                value="no" checked>
              <label class="form-check-label" for="rdEstudiante2">
                No
              </label>
            </div>
          </div>

          <div id="dvEstudios" style="display: none;">
            <div class="form-group row">
              <label for="inputEsdudios" class="col-sm-2 col-form-label">¿Qué estudiás?</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="inputEsdudios" name="estudios" placeholder="¿Qué estudiás?">
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label ">¿Pertenecés a una organización, asociación o
              fundación?</label>
            <div class="form-check m-2">
              <input class="rdOrg form-check-input" type="radio" name="rdOrg" id="rdOrg1" value="si">
              <label class="form-check-label" for="rdOrg1">
                SI
              </label>
            </div>
            <div class="form-check m-2">
              <input class="rdOrg form-check-input" type="radio" name="rdOrg" id="rdOrg2" value="no" checked>
              <label class="form-check-label" for="rdOrg2">
                No
              </label>
            </div>
          </div>

          <div id="dvOrg" style="display: none;">
            <div class="form-group row">
              <label for="inputOrg" class="col-sm-2 col-form-label">¿Cuál?</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="inputOrg" name="nomOrg" placeholder="¿Cuál?">
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label ">¿Trabajás?</label>
            <div class="form-check m-2">
              <input class="rdTrabaja form-check-input" type="radio" name="rdTrabaja" id="rdTrabaja1" value="si">
              <label class="form-check-label" for="rdTrabaja1">
                SI
              </label>
            </div>
            <div class="form-check m-2">
              <input class="rdTrabaja form-check-input" type="radio" name="rdTrabaja" id="rdTrabaja2" value="no"
                checked>
              <label class="form-check-label" for="rdTrabaja2">
                No
              </label>
            </div>
          </div>

          <div id="dvTrabaja" style="display: none;">
            <div class="form-group row">
              <label for="inputTrabaja" class="col-sm-2 col-form-label">¿Dónde?</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="inputTrabaja" name="lugarTrab" placeholder="¿Dónde?">
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label ">¿Tenés profesión u oficio?</label>
            <div class="form-check m-2">
              <input class="rdProfesion form-check-input" type="radio" name="rdProfesion" id="rdProfesion1" value="si">
              <label class="form-check-label" for="rdProfesion1">
                SI
              </label>
            </div>
            <div class="form-check m-2">
              <input class="rdProfesion form-check-input" type="radio" name="rdProfesion" id="rdProfesion2" value="no"
                checked>
              <label class="form-check-label" for="rdProfesion2">
                No
              </label>
            </div>
          </div>

          <div id="dvProfesion" style="display: none;">
            <div class="form-group row">
              <label for="inputProfesion" class="col-sm-2 col-form-label">¿Cuál es?</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="inputProfesion" name="profesion" placeholder="¿Cuál es?">
              </div>
            </div>
          </div>

          <hr />
          <!-- Esquema de Trabajo -->
          <!-- <div class="eskimo-widget-title mt-5">
            <h3 class="eskimo-title-with-border"><span>¿Cuántas horas y que días a la semana podés participar? </span>
            </h3>
          </div> -->
          <p>¿Cuántas horas y que días a la semana podés participar? </p>

          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col" class="">
                  Dias
                </th>
                <th scope="col">
                  Horario
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>

                  <div class="form-group row">
                    <div class="col-sm-6 pr-1">
                      <label class="switch ">
                        <input type="checkbox" class="primary" name="trLunes" id="swLunes">
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <label for="swLunes" class="col-sm-1 col-form-label">Lunes</label>
                  </div>

                </td>

                <td>

                  <div class="form-group row">
                    <label for="example-time-input" class="col-1 col-form-label ml-4">Desde</label>
                    <div class="col-3">
                      <input class="form-control" type="time" value="08:00:00" name="hrDesdeLun" id="timeVolLunDesde">
                    </div>

                    <label for="example-time-input" class="col-1 col-form-label ml-4">Hasta</label>
                    <div class="col-3">
                      <input class="form-control" type="time" value="12:00:00" name="hrHastaLun" id="timeVolLunHasta">
                    </div>
                  </div>

                </td>
              </tr>

              <tr>
                <td>

                  <div class="form-group row">
                    <div class="col-sm-6 pr-1">
                      <label class="switch ">
                        <input type="checkbox" class="primary" name="trMartes" id="swMartes">
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <label for="swMartes" class="col-sm-1 col-form-label">Martes</label>
                  </div>


                </td>
                <td>
                  <div class="form-group row">
                    <label for="example-time-input" class="col-1 col-form-label ml-4">Desde</label>
                    <div class="col-3">
                      <input class="form-control" type="time" value="08:00:00" name="hrDesdeMar" id="timeVolMarDesde">
                    </div>

                    <label for="example-time-input" class="col-1 col-form-label ml-4">Hasta</label>
                    <div class="col-3">
                      <input class="form-control" type="time" value="12:00:00" name="hrHastaMar" id="timeVolMarHasta">
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-group row">
                    <div class="col-sm-6 pr-1">
                      <label class="switch ">
                        <input type="checkbox" class="primary" name="trMierdoles" id="swMiercoles">
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <label for="swMiercoles" class="col-sm-1 col-form-label">Miércoles</label>
                  </div>

                </td>
                <td>
                  <div class="form-group row">
                    <label for="example-time-input" class="col-1 col-form-label ml-4">Desde</label>
                    <div class="col-3">
                      <input class="form-control" type="time" value="08:00:00" name="hrDesdeMier" id="timeVolMierDesde">
                    </div>

                    <label for="example-time-input" class="col-1 col-form-label ml-4">Hasta</label>
                    <div class="col-3">
                      <input class="form-control" type="time" value="12:00:00" name="hrHastaMier" id="timeVolMierHasta">
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-group row">
                    <div class="col-sm-6 pr-1">
                      <label class="switch ">
                        <input type="checkbox" class="primary" name="trJueves" id="swJueves">
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <label for="swJueves" class="col-sm-1 col-form-label">Jueves</label>
                  </div>

                </td>
                <td>
                  <div class="form-group row">
                    <label for="example-time-input" class="col-1 col-form-label ml-4">Desde</label>
                    <div class="col-3">
                      <input class="form-control" type="time" value="08:00:00" name="hrDesdeJuev" id="timeVolJueDesde">
                    </div>

                    <label for="example-time-input" class="col-1 col-form-label ml-4">Hasta</label>
                    <div class="col-3">
                      <input class="form-control" type="time" value="12:00:00" name="hrHastaJuev" id="timeVolJueHasta">
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-group row">
                    <div class="col-sm-6 pr-1">
                      <label class="switch ">
                        <input type="checkbox" class="primary" name="trViernes" id="swViernes">
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <label for="swViernes" class="col-sm-1 col-form-label">Viernes</label>
                  </div>

                </td>
                <td>
                  <div class="form-group row">
                    <label for="example-time-input" class="col-1 col-form-label ml-4">Desde</label>
                    <div class="col-3">
                      <input class="form-control" type="time" value="08:00:00" name="hrDesdeVier" id="timeVolVierDesde">
                    </div>

                    <label for="example-time-input" class="col-1 col-form-label ml-4">Hasta</label>
                    <div class="col-3">
                      <input class="form-control" type="time" value="12:00:00" name="hrHastaVier" id="timeVolVierHasta">
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-group row">
                    <div class="col-sm-6 pr-1">
                      <label class="switch ">
                        <input type="checkbox" class="primary" name="trSabado" id="swSabado">
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <label for="swSabado" class="col-sm-1 col-form-label">Sábado</label>
                  </div>

                </td>
                <td>
                  <div class="form-group row">
                    <label for="example-time-input" class="col-1 col-form-label ml-4">Desde</label>
                    <div class="col-3">
                      <input class="form-control" type="time" value="08:00:00" name="hrDesdeSab" id="timeVolSabDesde">
                    </div>

                    <label for="example-time-input" class="col-1 col-form-label ml-4">Hasta</label>
                    <div class="col-3">
                      <input class="form-control" type="time" value="12:00:00" name="hrHastaSab" id="timeVolSabHasta">
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-group row">
                    <div class="col-sm-6 pr-1">
                      <label class="switch ">
                        <input type="checkbox" class="primary" name="trDomingo" id="swDomingo">
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <label for="swDomingo" class="col-sm-1 col-form-label">Domingo</label>
                  </div>

                </td>
                <td>

                  <div class="form-group row">
                    <label for="example-time-input" class="col-1 col-form-label ml-4">Desde</label>
                    <div class="col-3">
                      <input class="form-control" type="time" value="08:00:00" name="hrDesdeDom" id="timeVolDomDesde">
                    </div>

                    <label for="example-time-input" class="col-1 col-form-label ml-4">Hasta</label>
                    <div class="col-3">
                      <input class="form-control" type="time" value="12:00:00" name="hrHastaDom" id="timeVolDomHasta">
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <hr />

          <div class="form-group">
            <label for="txtVolComentario">Contanos ¿Cómo te gustaría colaborar con nosotros?</label>
            <div class="col-8">
              <textarea class="form-control" id="txtVolComentario" name="comentario" rows="5" required></textarea>
            </div>
          </div>






          <div class="form-group row mt-5">
            <label for="" class="col-sm-5 col-form-label font-weight-bold">¿Conoces la Ley Nacional de Voluntariado
              Social?</label>
            <div class="form-check m-2">
              <input class="rdLeyVol form-check-input" type="radio" name="rdLeyVol" id="rdLeyVol1" value="si">
              <label class="form-check-label" for="rdLeyVol1">
                SI
              </label>
            </div>
            <div class="form-check m-2">
              <input class="rdLeyVol form-check-input" type="radio" name="rdLeyVol" id="rdLeyVol2" value="no" checked>
              <label class="form-check-label" for="rdLeyVol2">
                NO
              </label>
            </div>
          </div>



          <button type="submit" class="btn btn-primary">Enviar formulario</button>


        </form>
      </div>
    </main>
    <!-- FOOTER -->
    <footer id="eskimo-footer" class="bg-dark text-white">
      <div class="container">
        <div class="row eskimo-footer-wrapper">
          <div class="row">
            <div class="col-sm-4">
              <div class="card bg-dark text-white">
                <div class="card-body">
                  <h5 class="card-title text-white">Subsecretaría de Juventudes y Diversidades</h5>
                  <p class="card-text">Dirección: Salta 63</br>
                    Celular: 3624658825 <br />
                    Teléfono: 3624453188 <br />
                    Correo: <a target="_blank" href="mailto:sub.juventud@chaco.gov.ar">sub.juventud@chaco.gov.ar</a>
                    </br>
                    Facebook/Instagram: @juventudeschaco</p>

                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card bg-dark text-white">
                <div class="card-body">
                  <h5 class="card-title text-white">Subsecretaría de Participación Ciudadana </h5>
                  <p class="card-text">Dirección: Formosa 634 <br />
                    Celular: 3625270273<br />
                    Teléfono: 3624762741<br />

                    Correo: <a href="mailto:sub.participacion@chaco.gob.ar">sub.participacion@chaco.gob.ar</a>
                    </br>
                    Facebook: Subsecretaría de Participación Ciudadana</br>
                    Instagram : @participacion_ciudadana2020
                  </p>

                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body bg-dark text-white">
                  <h5 class="card-title text-white">Ministerio de Desarrollo Social de
                    la Provincia del
                    Chaco</h5>
                  <p class="card-text">Dirección: Avenida 25 de Mayo 855</br>
                    Líneas rotativas: (0362)4452620 / 4452621 / 4433005 / 4452986 / 4437456 / 4428319</br>
                    Correo: <a target="_blank"
                      href="mailto:desarrollosocial@chaco.gob.ar">desarrollosocial@chaco.gob.ar</a>
                    </br>
                  </p>
                </div>
              </div>
            </div>
            <!-- <div class="col-2 col-lg-2 mb-2 mb-lg-0">            
            </div> -->
            <div class="col-4 col-lg-4 mb-4 mb-lg-0">
              <a href="http://www.chaco.gob.ar/" target="_blank">
                <img class="mt-5" src="{% static 'images/MDS.png'%}" alt="desarrollo social" />
              </a>
              <!-- <a href="http://www.chaco.gob.ar/" target="_blank">
                <img class="card-vertical-img" src="{% static 'images/logo-footer.png'%}"
                  alt="cuidadores domiciliarios" />
              </a> -->
            </div>
          </div>

        </div>
      </div>
    </footer>
  </div>
  <!-- GO TO TOP BUTTON -->
  <a id="eskimo-gototop" href="#"><i class="fa fa-chevron-up"></i></a>

  <!-- JS FILES -->
  <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>
  <script src="{% static 'js/bootstrap-select.min.js'%}"></script>
  <!-- <script src="{% static 'js/bootstrap-toggle.min.js'%}"></script> -->
  <script src="{% static 'js/salvattore.min.js' %}"></script>
  <script src="{% static 'js/slick.min.js' %}"></script>
  <script src="{% static 'js/panel.js' %}"></script>
  <script src="{% static 'js/reading-position-indicator.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <script src="{% static 'js/insert.js'%}"></script>





  <!-- POST SLIDER -->
  <script>
    (function ($) {
      "use strict";
      $(document).ready(function () {
        $('#eskimo-post-slider').slick({
          autoplay: true,
          autoplaySpeed: 5000,
          slidesToScroll: 1,
          adaptiveHeight: true,
          slidesToShow: 1,
          arrows: true,
          dots: false,
          fade: true
        });
      });
      $(window).on('load', function () {
        $('#eskimo-post-slider').css('opacity', '1');
        $('#eskimo-post-slider').parent().removeClass('eskimo-bg-loader');
      });
    })(jQuery);
  </script>
  <!-- POST CAROUSEL -->
  <script>
    (function ($) {
      "use strict";
      $(document).ready(function () {
        $('#eskimo-post-carousel').slick({
          infinite: false,
          slidesToScroll: 1,
          arrows: true,
          dots: false,
          slidesToShow: 3,
          responsive: [{
            breakpoint: 992,
            settings: {
              slidesToShow: 2
            }
          }, {
            breakpoint: 576,
            settings: {
              slidesToShow: 1
            }
          }]

        });
        $('#eskimo-post-carousel').css('opacity', '1');
      });
    })(jQuery);
  </script>
</body>

</html>