{% extends "base.html" %}
{%block head_content%}
<title>Voluntariado Social</title>
{%endblock%}

{%block container%}
{%load static%}

<!-- TOP ICONS -->

<div class="clearfix"></div>

<!-- DIVIDER -->
<!-- <hr class="section-divider" /> -->
<hr />
<!-- CAROUSEL -->
<div class="eskimo-widget-title">
  <!-- <h3 class="eskimo-carousel-title"><span>REGISTRAR:</span></h3> -->
  <h3 class="eskimo-title-with-border"><span>Formulario para el registro de Voluntarios Sociales</span></h3>
  <h5>(Todos los campos son obligatorios)</h5>
</div>

<form action="{% url 'formvoluntarios' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  {% if form.errors %}
  {% for field in form %}
  {% for error in field.errors %}
  <div class="alert alert-danger">

    <strong>{{field.label}}: </strong>{{ error|escape }}
  </div>
  {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
  <div class="alert alert-danger">
    <strong>{{ error|escape }}</strong>
  </div>
  {% endfor %}
  {% endif %}
  <hr />
  <div class="eskimo-widget-title mt-5 mb-4">
    <h5 class="eskimo-title-with-border"><span>Datos Personales:</span></h5">
  </div>
  <div class="form-group row">
    <label for="inputNombre" class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputNombre" name="nombre" placeholder="Nombre"
        value="{%if form.errors%}{{form.nombre.value}}{%endif%}" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputApellido" class="col-sm-2 col-form-label">Apellido</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputApellido" name="apellido"
        value="{%if form.errors%}{{form.apellido.value}}{%endif%}" placeholder="Apellido" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputDni" class="col-sm-2 col-form-label">Dni</label>
    <div class="col-sm-6">
      <input type="number" class="form-control" id="inputDni" name="dni"
        value="{%if form.errors%}{{form.dni.value}}{%endif%}" placeholder="Dni" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputCuil" class="col-sm-2 col-form-label">Cuil</label>
    <div class="col-sm-6">
      <input type="number" class="form-control" name="cuil" value="{%if form.errors%}{{form.cuil.value}}{%endif%}"
        placeholder="000000000000" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputLugar" class="col-sm-2 col-form-label">Lugar y Fecha de Nacimiento</label>

    <div class="col-sm-3">
      <input type="text" class="form-control" id="inputLugar" name="lugarNac"
        value="{%if form.errors%}{{form.lugarNac.value}}{%endif%}" placeholder="Lugar" required>
    </div>
    <div class="col-3">
      <input class="form-control" type="date" value="1980-01-19" name="fechaNac"
        value="{%if form.errors%}{{form.fechaNac.value}}{%endif%}" id="input-date-input">
    </div>
  </div>


  <div class="form-group row">
    <label for="selGenero" class="col-sm-2 col-form-label">Género</label>
    <div class="col-sm-6">
      <select class="form-control" id="selGenero" name="genero">
        <option value="seleccionar" selected>Seleccionar</option>
        <option value="masc">Masculino</option>
        <option value="fem">Femenino</option>
        <option value="nobinario">No binario</option>
        <option value="otro">Otro</option>
      </select>
    </div>
  </div>

  <p>Domicilio legal:</p>

  <div class="form-group row">
    <label for="inputDireccion" class="col-sm-2 col-form-label">Dirección</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputDireccion" name="direccion" placeholder="Dirección"
        value="{%if form.errors%}{{form.direccion.value}}{%endif%}" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputBarrio" class="col-sm-2 col-form-label">Barrio</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="inputBarrio" name="barrio"
        value="{%if form.errors%}{{form.barrio.value}}{%endif%}" placeholder="Barrio" required>
    </div>
  </div>

  <div class="form-group row">
    <label for="selLocalidades" class="col-sm-2 col-form-label">Localidad</label>
    <div class="col-sm-6">
      <select class="form-control" id="selLocalidades" name="localidad"></select>
    </div>
  </div>
  <div class="form-group row">
    <label for="selProvincias" class="col-sm-2 col-form-label">Provincia</label>
    <div class="col-sm-6">
      <select class="form-control" id="selProvincias" name="provincia"></select>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputCelular" class="col-sm-2 col-form-label">Celular</label>
    <div class="col-sm-6">
      <input type="number" class="form-control" id="inputCelular" name="celular"
        value="{%if form.errors%}{{form.celular.value}}{%endif%}" placeholder="Celular" required>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-6">
      <input type="email" class="form-control" id="inputEmail" name="email"
        value="{%if form.errors%}{{form.email.value}}{%endif%}" placeholder="Email" required>
    </div>
  </div>

  <div class="eskimo-widget-title mt-5 mb-4">
    <h5 class="eskimo-title-with-border"><span>Datos de Formación</span></h5">
  </div>

  <div class="form-group row">
    <label for="" class="col-sm-2 col-form-label ">¿Sos estudiante?</label>
    <div class="form-check m-2">
      <input class="rdEstudiante form-check-input" type="radio" name="rdEstudiante" id="rdEstudiante1" value="si">
      <label class="form-check-label" for="rdEstudiante1">
        SI
      </label>
    </div>
    <div class="form-check m-2">
      <input class="rdEstudiante form-check-input" type="radio" name="rdEstudiante" id="rdEstudiante2" value="no"
        checked>
      <label class="form-check-label" for="rdEstudiante2">
        No
      </label>
    </div>
  </div>

  <div id="dvEstudios" style="display: none;">
    <div class="form-group row">
      <label for="inputEsdudios" class="col-sm-2 col-form-label">¿Qué estudiás?</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="inputEsdudios" name="estudios" placeholder="¿Qué estudiás?">
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="" class="col-sm-2 col-form-label ">¿Pertenecés a una organización, asociación o
      fundación?</label>
    <div class="form-check m-2">
      <input class="rdOrg form-check-input" type="radio" name="rdOrg" id="rdOrg1" value="si">
      <label class="form-check-label" for="rdOrg1">
        SI
      </label>
    </div>
    <div class="form-check m-2">
      <input class="rdOrg form-check-input" type="radio" name="rdOrg" id="rdOrg2" value="no" checked>
      <label class="form-check-label" for="rdOrg2">
        No
      </label>
    </div>
  </div>

  <div id="dvOrg" style="display: none;">
    <div class="form-group row">
      <label for="inputOrg" class="col-sm-2 col-form-label">¿Cuál?</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="inputOrg" name="nomOrg" placeholder="¿Cuál?">
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="" class="col-sm-2 col-form-label ">¿Trabajás?</label>
    <div class="form-check m-2">
      <input class="rdTrabaja form-check-input" type="radio" name="rdTrabaja" id="rdTrabaja1" value="si">
      <label class="form-check-label" for="rdTrabaja1">
        SI
      </label>
    </div>
    <div class="form-check m-2">
      <input class="rdTrabaja form-check-input" type="radio" name="rdTrabaja" id="rdTrabaja2" value="no" checked>
      <label class="form-check-label" for="rdTrabaja2">
        No
      </label>
    </div>
  </div>

  <div id="dvTrabaja" style="display: none;">
    <div class="form-group row">
      <label for="inputTrabaja" class="col-sm-2 col-form-label">¿Dónde?</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="inputTrabaja" name="lugarTrab" placeholder="¿Dónde?">
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="" class="col-sm-2 col-form-label ">¿Tenés profesión u oficio?</label>
    <div class="form-check m-2">
      <input class="rdProfesion form-check-input" type="radio" name="rdProfesion" id="rdProfesion1" value="si">
      <label class="form-check-label" for="rdProfesion1">
        SI
      </label>
    </div>
    <div class="form-check m-2">
      <input class="rdProfesion form-check-input" type="radio" name="rdProfesion" id="rdProfesion2" value="no" checked>
      <label class="form-check-label" for="rdProfesion2">
        No
      </label>
    </div>
  </div>

  <div id="dvProfesion" style="display: none;">
    <div class="form-group row">
      <label for="inputProfesion" class="col-sm-2 col-form-label">¿Cuál es?</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="inputProfesion" name="profesion" placeholder="¿Cuál es?">
      </div>
    </div>
  </div>

  <hr />
  <!-- Esquema de Trabajo -->
  <!-- <div class="eskimo-widget-title mt-5">
            <h3 class="eskimo-title-with-border"><span>¿Cuántas horas y que días a la semana podés participar? </span>
            </h3>
          </div> -->
  <p>¿Cuántas horas y que días a la semana podés participar? </p>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col" class="">
          Dias
        </th>
        <th scope="col">
          Horario
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>

          <div class="form-group row">
            <div class="col-sm-6 pr-1">
              <label class="switch ">
                <input type="checkbox" class="checksDias primary" name="trLunes" id="swLunes">
                <span class="slider round"></span>
              </label>
            </div>
            <label for="swLunes" class="col-sm-1 col-form-label">Lunes</label>
          </div>

        </td>

        <td>

          <div class="form-group row">
            <label for="example-time-input" class="col-1 col-form-label ml-4">Desde</label>
            <div class="col-3">
              <input class="form-control" type="time" value="08:00:00" name="hrDesdeLun" id="timeVolLunDesde">
            </div>

            <label for="example-time-input" class="col-1 col-form-label ml-4">Hasta</label>
            <div class="col-3">
              <input class="form-control" type="time" value="12:00:00" name="hrHastaLun" id="timeVolLunHasta">
            </div>
          </div>

        </td>
      </tr>

      <tr>
        <td>

          <div class="form-group row">
            <div class="col-sm-6 pr-1">
              <label class="switch ">
                <input type="checkbox" class="checksDias primary" name="trMartes" id="swMartes">
                <span class="slider round"></span>
              </label>
            </div>
            <label for="swMartes" class="col-sm-1 col-form-label">Martes</label>
          </div>


        </td>
        <td>
          <div class="form-group row">
            <label for="example-time-input" class="col-1 col-form-label ml-4">Desde</label>
            <div class="col-3">
              <input class="form-control" type="time" value="08:00:00" name="hrDesdeMar" id="timeVolMarDesde">
            </div>

            <label for="example-time-input" class="col-1 col-form-label ml-4">Hasta</label>
            <div class="col-3">
              <input class="form-control" type="time" value="12:00:00" name="hrHastaMar" id="timeVolMarHasta">
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group row">
            <div class="col-sm-6 pr-1">
              <label class="switch ">
                <input type="checkbox" class="checksDias primary" name="trMierdoles" id="swMiercoles">
                <span class="slider round"></span>
              </label>
            </div>
            <label for="swMiercoles" class="col-sm-1 col-form-label">Miércoles</label>
          </div>

        </td>
        <td>
          <div class="form-group row">
            <label for="example-time-input" class="col-1 col-form-label ml-4">Desde</label>
            <div class="col-3">
              <input class="form-control" type="time" value="08:00:00" name="hrDesdeMier" id="timeVolMierDesde">
            </div>

            <label for="example-time-input" class="col-1 col-form-label ml-4">Hasta</label>
            <div class="col-3">
              <input class="form-control" type="time" value="12:00:00" name="hrHastaMier" id="timeVolMierHasta">
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group row">
            <div class="col-sm-6 pr-1">
              <label class="switch ">
                <input type="checkbox" class="checksDias primary" name="trJueves" id="swJueves">
                <span class="slider round"></span>
              </label>
            </div>
            <label for="swJueves" class="col-sm-1 col-form-label">Jueves</label>
          </div>

        </td>
        <td>
          <div class="form-group row">
            <label for="example-time-input" class="col-1 col-form-label ml-4">Desde</label>
            <div class="col-3">
              <input class="form-control" type="time" value="08:00:00" name="hrDesdeJuev" id="timeVolJueDesde">
            </div>

            <label for="example-time-input" class="col-1 col-form-label ml-4">Hasta</label>
            <div class="col-3">
              <input class="form-control" type="time" value="12:00:00" name="hrHastaJuev" id="timeVolJueHasta">
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group row">
            <div class="col-sm-6 pr-1">
              <label class="switch ">
                <input type="checkbox" class="checksDias primary" name="trViernes" id="swViernes">
                <span class="slider round"></span>
              </label>
            </div>
            <label for="swViernes" class="col-sm-1 col-form-label">Viernes</label>
          </div>

        </td>
        <td>
          <div class="form-group row">
            <label for="example-time-input" class="col-1 col-form-label ml-4">Desde</label>
            <div class="col-3">
              <input class="form-control" type="time" value="08:00:00" name="hrDesdeVier" id="timeVolVierDesde">
            </div>

            <label for="example-time-input" class="col-1 col-form-label ml-4">Hasta</label>
            <div class="col-3">
              <input class="form-control" type="time" value="12:00:00" name="hrHastaVier" id="timeVolVierHasta">
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group row">
            <div class="col-sm-6 pr-1">
              <label class="switch ">
                <input type="checkbox" class="checksDias primary" name="trSabado" id="swSabado">
                <span class="slider round"></span>
              </label>
            </div>
            <label for="swSabado" class="col-sm-1 col-form-label">Sábado</label>
          </div>

        </td>
        <td>
          <div class="form-group row">
            <label for="example-time-input" class="col-1 col-form-label ml-4">Desde</label>
            <div class="col-3">
              <input class="form-control" type="time" value="08:00:00" name="hrDesdeSab" id="timeVolSabDesde">
            </div>

            <label for="example-time-input" class="col-1 col-form-label ml-4">Hasta</label>
            <div class="col-3">
              <input class="form-control" type="time" value="12:00:00" name="hrHastaSab" id="timeVolSabHasta">
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group row">
            <div class="col-sm-6 pr-1">
              <label class="switch ">
                <input type="checkbox" class="checksDias primary" name="trDomingo" id="swDomingo">
                <span class="slider round"></span>
              </label>
            </div>
            <label for="swDomingo" class="col-sm-1 col-form-label">Domingo</label>
          </div>

        </td>
        <td>

          <div class="form-group row">
            <label for="example-time-input" class="col-1 col-form-label ml-4">Desde</label>
            <div class="col-3">
              <input class="form-control" type="time" value="08:00:00" name="hrDesdeDom" id="timeVolDomDesde">
            </div>

            <label for="example-time-input" class="col-1 col-form-label ml-4">Hasta</label>
            <div class="col-3">
              <input class="form-control" type="time" value="12:00:00" name="hrHastaDom" id="timeVolDomHasta">
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <hr />
  <label for="selGenero" class=" col-form-label">¿En qué Área te gustaría desarrollar tu voluntariado? </label>
  <div class="form-group row">

    <div class="col-sm-8">
      <select class="form-control" id="selArea" name="areaVoluntariado">
        <option value="violenciadegenero" selected>Violencia de Género</option>
        <option value="personascalle">Abordaje y Acompañamiento a personas en situación de calle</option>
        <option value="prevencionconsumo">Prevención en consumo problemático de sustancias psicoadictivas</option>
        <option value="seguridadalimentaria"> Seguridad Alimentaria- Intervenciones Comunitarias en Merenderos/Comedores
        </option>
        <option value="personasadultas">Acompañamiento y Asistencia a Personas Adultas Mayores</option>
        <option value="juventudes">Juventudes y diversidad</option>
        <option value="infancias">Infancias y Adolescencias en especial situación de vulnerabilidad</option>
      </select>
    </div>
  </div>






  <div class="form-group row mt-5">
    <label for="" class="col-sm-5 col-form-label font-weight-bold">¿Conoces la Ley Nacional de Voluntariado
      Social?</label>
    <div class="form-check m-2">
      <input class="rdLeyVol form-check-input" type="radio" name="rdLeyVol" id="rdLeyVol1" value="si">
      <label class="form-check-label" for="rdLeyVol1">
        SI
      </label>
    </div>
    <div class="form-check m-2">
      <input class="rdLeyVol form-check-input" type="radio" name="rdLeyVol" id="rdLeyVol2" value="no" checked>
      <label class="form-check-label" for="rdLeyVol2">
        NO
      </label>
    </div>
  </div>

  <div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Términos y Condiciones</h4>
    <p>La Subsecretaría de Participación Ciudadana tendrá a su cargo el funcionamiento del Registro Provincial de
      Voluntariado Social, y tal fin, establecerá las bases y condiciones para la convalidación de la inscripción al
      Registro de cada postulante. </p>
    <!-- <hr> -->
    <!-- <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p> -->
  </div>


  <div class="g-recaptcha" data-sitekey="6LfIp8QZAAAAAPUsHVDkTn3qmUzgtqDCWjksoMk-"></div>
  <br />
  <button type="submit" class="btn btn-primary">Enviar formulario</button>


</form>
{%endblock%}
{%block footer%}
{%load static%}
<!-- FOOTER -->
<footer id="eskimo-footer" class="bg-dark text-white">
  <div class="container">
    <div class="row eskimo-footer-wrapper">
      <div class="row">

        <div class="col-sm-4">
          <div class="card bg-dark text-white">
            <img class="card-img-top" src="{% static 'images/PC.png' %}" alt="Card image cap">

            <div class="card-body">
              <p class="card-text">
                <a href="{% url "contactos" %}">Información de contacto</a>

              </p>

            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card bg-dark text-white">
            <img class="card-img-top" src="{% static 'images/MDS.png' %}" alt="Card image cap">

            <div class="card-body bg-dark text-white">
              <p class="card-text">
                <a href="{% url "contactos" %}">Información de contacto</a>

              </p>

            </div>
          </div>
        </div>


      </div>

    </div>
  </div>
</footer>
{%endblock%}