{% extends "base.html" %}
{%block head_content%}
<title>Voluntariado Social</title>
{%endblock%}

{%block container%}
{%load static%}
<div class="clearfix"></div>
<!-- TABS -->

<div class="eskimo-widget-title mt-5 mb-4">
    <h2 class="eskimo-title-with-border"><span>VOLUNTARIADO SOCIAL:</span></h2>
</div>
<p>El Registro de Voluntariado Social es una iniciativa en el marco del Plan Chaco 2030 que reafirma el compromiso de diversos actores sociales y de distintas generaciones de chaqueños y chaqueñas, y que tiene por objetivo estimular y potenciar el voluntariado social.</p>

<!-- ACCORDION -->
<div id="mp-accordion-1" data-children=".mp-accordion-item" class="mp-accordion">
    <!-- ACCORDION ITEM 1 -->
    <div class="mp-accordion-item">
        <a class="mp-accordion-title mb-3" data-toggle="collapse" data-parent="#mp-accordion-1"
            href="#mp-accordion-item-1" aria-expanded="false" aria-controls="mp-accordion-item-1">¿Qué es el voluntariado social? </a>
        <div id="mp-accordion-item-1" class="collapse show" role="tabpanel">
            <div class="mp-accordion-content">
                <p>Son aquellas actividades de bien común y de interés general realizadas libremente por personas humanas animadas por motivaciones personales, en el marco de organizaciones de la sociedad civil, de carácter solidario, sin contraprestación de carácter material ni económico, a favor de un tercero.</p>
                <p>
                    La acción voluntaria debe basar y desarrollarse con arreglo a los siguientes valores:
                </p>
                <p>
                    <ul>
                        <li>
                            los que inspiran la convivencia en una sociedad democrática, participativa, justa, plural y comprometida con la igualdad, la libertad y solidaridad; 
                        </li>
                        <li>
                            los que promueven la defensa del bien común y de los derechos fundamentales; 
                        </li>
                        <li>
                            los que contribuyen a la equidad, la justicia y la cohesión social; 
                        </li>
                        <li>
                            los que fundamenten el despliegue solidario y participativo de las capacidades humanas. 
                        </li>
                        
                    </ul>
                    <p>Se considerarán dimensiones propias del voluntariado social a: </p>
                    <ul>
                        <li>El compromiso, la gratuidad y la entrega desinteresada de tiempo, capacidades y conocimientos de los voluntarios.</li>
                        <li>
                            La conciencia crítica que contribuye a mejorar la relación de la persona con la sociedad. 
                        </li>
                        <li>
                            La acción de sensibilización social que recuerda, educa y conciencia en los valores que inspiran la acción voluntaria. 
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <!-- ACCORDION ITEM 2 -->
    <div class="mp-accordion-item">
        <a class="mp-accordion-title mb-3" data-toggle="collapse" data-parent="#mp-accordion-1"
            href="#mp-accordion-item-2" aria-expanded="false" aria-controls="mp-accordion-item-2">¿Qué es ser un voluntario social? </a>
        <div id="mp-accordion-item-2" class="collapse show" role="tabpanel">
            <div class="mp-accordion-content">
                <p>
                    Será considerado voluntario, la persona humana que, respetando los principios de no discriminación, solidaridad, tolerancia, pluralismo, democracia y los que fundamentan la convivencia en paz, realice acciones por libre determinación y sin recibir remuneración alguna, coadyuvando al logro de una mejor calidad de vida de otras personas. 
                </p>


            </div>
        </div>
    </div>
    <div class="mp-accordion-item">
        <a class="mp-accordion-title  mb-3" data-toggle="collapse" data-parent="#mp-accordion-1"
            href="#mp-accordion-item-3" aria-expanded="false" aria-controls="mp-accordion-item-3">¿Cuál es el objetivo de este registro?</a>
        <div id="mp-accordion-item-3" class="collapse show" role="tabpanel">
            <div class="mp-accordion-content">
                <ul>
                    <li> Promover el voluntariado social, instrumento de la participación solidaria  y democrática de los ciudadanos en el seno de la comunidad, en actividades sin fines de lucro.</li>
                    <li> Regular las relaciones entre los voluntarios sociales y las organizaciones donde desarrollan sus actividades, los beneficiarios y el Estado. </li>
                    
                </ul>

            </div>
        </div>
    </div>
    <!-- ACCORDION ITEM 4 -->
    <div class="mp-accordion-item">
        <a class="mp-accordion-title  mb-3" data-toggle="collapse" data-parent="#mp-accordion-1"
            href="#mp-accordion-item-4" aria-expanded="false" aria-controls="mp-accordion-item-4">Para
            ser una persona voluntaria se requiere:
        </a>
        <div id="mp-accordion-item-4" class="collapse show" role="tabpanel">
            <div class="mp-accordion-content">
                <ul>
                    <li> Ser mayor de 18 años.</li>
                    <li> Querer participar de manera voluntaria. </li>
                    <li> Estar dispuesto a compartir, capacitarse, aprender, y trabajar con/para los demás.</li>
                    
                    <li> Cumplir con el compromiso que se adquiere.</li>
                    <li> Guardar confidencialidad.</li>
                    <li> Utilizar debidamente los distintivos y acreditaciones.</li>
                    
                </ul>

            </div>
        </div>
    </div>
    <!-- ACCORDION ITEM 5 -->
    <div class="mp-accordion-item">
        <a class="mp-accordion-title  mb-3" data-toggle="collapse" data-parent="#mp-accordion-1"
            href="#mp-accordion-item-5" aria-expanded="false" aria-controls="mp-accordion-item-5">Para
            ser una persona voluntaria se requiere:
        </a>
        <div id="mp-accordion-item-5" class="collapse show" role="tabpanel">
            <div class="mp-accordion-content">
                <p>
                    El trámite de inscripción consta de tres etapas:
                </p>
                <ol>
                    <li>Primera etapa de <strong>preinscripción:</strong> el trámite debe iniciarse por la persona humana a través del formulario, donde deberá proveer la información solicitada a manera de declaración jurada.</li>
                    <li>
                        La segunda etapa es de <strong>convalidación:</strong> el formulario será remitido al área correspondiente de la Subsecretaría de Participación Ciudadana, donde se llevará adelante las acciones necesarias para la validación de la pre-inscripción.
                    </li>
                    <li>
                        La tercera etapa de <strong>inscripción definitiva</strong> en el Registro: cuando el trámite esté aprobado, mediante la validación de la información, la Subsecretaría de Participación Ciudadana informará al interesado su efectiva inscripción al Registro Provincial.
                    </li>
                </ol>


            </div>
        </div>
    </div>

</div>
<!-- DIVIDER -->
<hr />
<div class="alert alert-success mt-4" role="alert">
    <h4 class="alert-heading">El registro es totalmente gratuito. </h4>
    <p>La Subsecretaria de Participación Ciudadana, será la dependencia que tendrá a su cargo el funcionamiento del Registro Provincial de Voluntariado social. A tal fin, establecerá las bases y condiciones que deben reunir los postulantes para validar su pre-inscripción y, posteriormente, dicha inscripción, que estará sujeta a la aprobación por la autoridad de aplicación.</p>
</div>
<!-- <p class="h2 mt-5"></p> -->
<!-- DIVIDER -->
<hr />
<div class="card text-center mt-5">
    <div class="card-header">
        <h3>REGISTRO</h3>
    </div>
    <div class="card-body">
        <h5 class="card-title">Formulario de registro para Voluntariado Social</h5>
        <p class="card-text">INGRESÁ AL SIGUIENTE LINK PARA REGISTRARTE</p>
        <a href="{%url "formvoluntarios"%}" class="btn btn-primary mt-3">Ir al Formulario</a>
    </div>
    <div class="card-footer text-muted"></div>
</div>
<hr />
{%endblock%}
{%block footer%}
{%load static%}
<!-- FOOTER -->
<footer id="eskimo-footer" class="bg-dark text-white">
    <div class="container">
      <div class="row eskimo-footer-wrapper">
        <div class="row">
           
          <div class="col-sm-4">
            <div class="card bg-dark text-white">
              <img class="card-img-top" src="{% static 'images/PC.png' %}" alt="Card image cap">
  
              <div class="card-body">
                <p class="card-text">
                  <a href="{% url "contactos" %}">Información de contacto</a>
  
                </p>
                
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card bg-dark text-white">
              <img class="card-img-top" src="{% static 'images/MDS.png' %}" alt="Card image cap">
  
              <div class="card-body bg-dark text-white">
                <p class="card-text">
                  <a href="{% url "contactos" %}">Información de contacto</a>
  
                </p>
                
              </div>
            </div>
          </div>
  
       
        </div>
  
      </div>
    </div>
  </footer>
{%endblock%}